
body{
    height: 100vh;
    background-color: lightblue;
  
}


h1{
    text-align: center;
    margin: 5px;
}
 
h4{
    text-align: center;
}


.p1{
    img {

        width: 300px;
        height: 300px;
        border: 2px solid black;
        border-radius: 20px;

    }

}



.player2{
    img {

        width: 300px;
        height: 300px;
        border: 2px solid black;
        border-radius: 20px;

    }
    
}

.P2win{
    visibility: hidden;
}

.general{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-block: 10px;
}

.scoring{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    padding-inline: 20px;
}




button{
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
}


button:hover {
    background-color: gray;
    cursor: pointer;
}

.button-container{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.button-con{
    text-align: center;
}


.text2{
    margin-left: 105px;
}

.text1{
    margin-left: 105px;
}


/* Mobile styles */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
       

    }

    .p1{
        img {
    
            width: 100px;
            height: 100px;
            border: 2px solid black;
            border-radius: 20px;
    
        }

        margin-left: 5px;

    }

    .text1{
        margin-left: 25px;
    }

    .player2{
        img {
    
         
            width: 100px;
            height: 100px;
            border: 2px solid black;
            border-radius: 20px;
        
    
        }

        margin-left: 30px;
        
    }

    .text2{
        margin-left: 50px;
    }

    .general{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-block: 10px;
    }
    

  
}


/* Tablet styles */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
        
    }

    .p1{
        img {
    
            width: 200px;
            height: 200px;
            border: 2px solid black;
            border-radius: 20px;
    
        }
    
    }

    .text1{
        margin-left: 70px;
    }

    .player2{
        img {
    
            width: 200px;
            height: 200px;
            border: 2px solid black;
            border-radius: 20px;
    
        }
        
    }

    .text2{
        margin-left: 70px;
    }
    
 


   
}

/* Laptop styles */
@media only screen and (min-width: 1025px) {
    body {
        font-size: 18px;
    }
}


#draw{
    margin: 0;
}



